#イコール=のあと、スペースを入れないで書く。
# Azure SQL Database
DB_DRIVER={ODBC Driver 18 for SQL Server}
AZURE_SQL_SERVER=your-server.database.windows.net
AZURE_SQL_DATABASE=your-database
AZURE_SQL_USERNAME=your-username
AZURE_SQL_PASSWORD=your-password


# Azure OpenAI Service
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_KEY    #例：ZmJxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxOGkU39   # AzureポータルからコピーしたAPIキーを貼り付けます。
AZURE_OPENAI_ENDPOINT=YOUR_AZURE_OPENAI_ENDPOINT #例：https://openai-xxx-sample.openai.azure.com/    # Azureポータルからコピーしたエンドポイントを貼り付けます。
AZURE_OPENAI_API_VERSION=YYYY-MM-DD-preview    #例：2023-12-01-preview   #超重要（モデルバージョン）
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-xxx    #例：gpt-4o-mini-chat-name    # Azureで作ったデプロイメント名
AZURE_OPENAI_EMBEDDING_DEPLOYMENT_NAME="YOUR_EMBEDDING_MODEL_DEPLOYMENT_NAME"    # Azureで作ったデプロイメント名


#Azure AI Search
AZURE_SEARCH_ENDPOINT=YOUR_SEARCH_SERVICE_ENDPOINT #Azureポータルの「AI Search」リソースからURL(エンドポイント)
AZURE_SEARCH_KEY=YOUR_SEARCH_ADMIN_KEY #Azureポータルの「AI Search」リソースから「キー」タブの「プライマリー管理者キー」または「セカンダリー管理者キー」
AZURE_SEARCH_INDEX_NAME=chat-history-index #インデックス名 #Azureポータルの「AI Search」リソースから「インデックス」または「Indexes」セクションの「名前」列


# Azure Cosmos DB for NoSQL
AZURE_COSMOS_ENDPOINT=https://xxxxx.documents.azure.com:443/               #例：https://xxxxx.documents.azure.com:443/
AZURE_COSMOS_KEY=your-primary-key
AZURE_COSMOS_DATABASE=your-database
AZURE_COSMOS_CONTAINER=your-container